{
  "plugins": ["jsx-a11y"],
  "extends": ["plugin:jsx-a11y/recommended"],
  "rules": {
    "jsx-a11y/aria-role": "warn",
    "jsx-a11y/aria-props": "warn",
    "jsx-a11y/aria-label-has-associated-control": "warn",
    "jsx-a11y/tabindex-no-positive": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn"
  }
}
